body {
    font-family: "Protest Revolution";
    background-color: #E1D884;
    color: #1E5566;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Guerrilla";
    text-align: center;
}
h1 {
    font-size:75pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #52E02D;
    border: 2px solid #E62F15;
    border-width: 5px;
    background-color: #664527;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(even)  {
    color: purple;
    content: '•';
}

#hobbies ul li:nth-child(odd) {
    color: #FFD700;
    content: '•';
    font-weight: bold;
}

#hobbies ul li:nth-child(2n) {
    color: #e74c3c;
    content: '•';
    font-weight: bold;
}

#hobbies ul li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#hobbies {
    background-color: #87CEFA;
    padding: 10px;
}